@{
    ViewBag.Title = "Read Me";
}
<h2>@ViewBag.Title</h2>

<p>
    <span>When creating a machine, a working CSV template must be uploaded with the options.</span><br />
    <span>You you need to change a machine's options, you will need to delete the machine and recreate it.</span><br />
    <span>This will not effect any current quotes that already have that machine on them, to update to the newest machine, requote that machine.</span><br /><br />
    
    <span>Once a quote is created, tick box through the options list and hit update to save your changes.</span><br />
    <span>Any of the update buttons will work, and they will keep you on that page.</span><br />
    <span>You will be able to export the CSV data sheet with the quote header info, and relevant price / total values at any time.</span><br />
    <span>In order to email the quote to your customer you must generate it for the first time. This will also display it to you to check for errors.</span><br />
    <span>If you are satisfied with the quote, and if you have the correct email recipient listed on your quote page, simply click the email button to send it.</span><br />
    <span>Remember: If you have changed the email in the details page, use the update button to save it before sending.</span><br />
    <span>The email is sent automatically with a preloaded sender account.</span>



</p>
